body {
  background: linear-gradient(90deg, #cc3 0%, #bd6 15%, #ac4 30%, #a5a 50%, #a3d 65%, #88f 85%, #cc3 100%)
}
#content {
  font-family: sans-serif;
  display: flex;
  align-items: center;
  text-align: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}
#content h1 {
  font-size: 2em;
}
#content h2 {
  font-size: 1em;
  margin-top: -8px
}
#game-area {
  font-size: 4.5em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 0.2em;
}
#game-area div{
  min-width: 1em;
  min-height: 1.2em;
  border: 3px solid black;
}
#info{
  height: 3.5em;
  width: 50vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
